html,
body,
#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: Cairo;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cairo', sans-serif;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  margin-top: 20px;
}

::-webkit-scrollbar-track {
  background: #e4eaf0;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c4;
  border-radius: 2px;
  margin-top: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9da6ad;
}